.stdButton{
    -fx-text-fill: #efefef;
    -fx-background-color: #003300;
}
.upperBar{
    -fx-background-color: #1b5e20;
    -fx-pref-height: 40;
}
.lab{
    -fx-text-fill: #efefef;
    -fx-alignment: center;
    -fx-font-size: 16;
}
.iconSimpleBlack {
    -fx-fill: #efefef;
}